< DOC TYPE HTML>
    < HTML lang="eng" dir="ltr">
    < body >
    < div class="content">
        < h1 style =  "text align:center">50startup pred< h1 >
            < div class = "form">
                < form action = "prediction" method="post">
                  < input type = "number"  name = "R&D Spend" placeholder= "R&D Spend">
                  < input type = "number"  name = "Administration" placeholder= "Administration">
                   < input type = "number"  name = "Marketing Spend" placeholder= "Marketing Spend">
                   < input type = "number"  name = "Profit" placeholder= "Profit">
       < input type="submit" value="Predict">
        < /form>
    < /div>
    < /div>
< /body>
< /html>

